.header {
  text-align: center;
  max-width: 650px;
  font-family: "Trebuchet MS", Helvetica, sans-serif; }
  .header__name {
    text-transform: uppercase;
    color: #6FD7E4;
    font-size: 30px;
    font-weight: bolder; }
  .header__text {
    color: #E4E3E0;
    font-size: 22px;
    margin-bottom: 60px;
    margin-top: 30px; }
  .header__button {
    text-decoration: none;
    background-color: #B9D2ED;
    color: #1E1F3D;
    font-weight: bolder;
    padding: 10px 83px;
    border-radius: 20px; }

input {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  color: white;
  margin-top: 10px; }
  input:focus {
    outline-width: 0;
    border: 2px solid #7D80C4; }
  input::-webkit-input-placeholder {
    color: white; }
  input:focus::-webkit-input-placeholder {
    color: transparent; }

.email-input {
  margin-bottom: 50px; }

/*# sourceMappingURL=footer.component.css.map */
