@import "../header/header.component.sass"

input
  background-color: transparent
  border-radius: 20px
  border: 1px solid white
  width: 250px
  padding:
    top: 10px
    bottom: 10px
    left: 40px
  color: white
  margin-top: 10px

  &:focus
    outline-width: 0
    border: 2px solid #7D80C4

  &::-webkit-input-placeholder
    color: white

  &:focus::-webkit-input-placeholder
    color: transparent

.email-input
  margin-bottom: 50px

