<div class="header">
  <h2 class="header__name">Want to get a detailed estimate?</h2>
  <p class="header__text">Just write us your name and email</p>
  <input type="text" placeholder="Name" class="name-input"><br>
  <input type="email" placeholder="Email" class="email-input"><br>
  <a href="#main" role="button" class="header__button">Get an Estimate</a>
</div>
