.header {
  text-align: center;
  max-width: 650px;
  font-family: "Helvetica Neue", sans-serif; }
  .header__name {
    text-transform: uppercase;
    color: #6FD7E4;
    font-size: 30px;
    font-weight: bolder; }
  .header__text {
    color: #E4E3E0;
    font-size: 22px;
    margin-bottom: 60px; }
  .header__button {
    text-decoration: none;
    background-color: #B9D2ED;
    color: #1E1F3D;
    font-weight: bolder;
    padding: 10px 50px;
    border-radius: 20px; }

/*# sourceMappingURL=header.component.css.map */
