<div class="header">
  <h2 class="header__name">Thinking of building a mobile app?</h2>
  <p class="header__text">Find out how much you`ll pay for developing mobile application. Mobile application development
    cost calculator helps you estimate your expeense & stay on budget.</p>
  <a href="#main" role="button" class="header__button">Get an Estimate</a>
</div>

