.header
  text-align: center
  max-width: 650px
  font-family: "Trebuchet MS", Helvetica, sans-serif

  &__name
    text-transform: uppercase
    color: #6FD7E4
    font:
      size: 30px
      weight: bolder

  &__text
    color: #E4E3E0
    font-size: 22px
    margin-bottom: 60px
    margin-top: 30px

  &__button
    text-decoration: none
    background-color: #B9D2ED
    color: #1E1F3D
    font-weight: bolder
    padding: 10px 83px
    border-radius: 20px



