.step
  text-align: center
  font-family: "Trebuchet MS", Helvetica, sans-serif
  min-width: 1000px

  &__name
    color: #6FD7E4
    font:
      size: 30px
      weight: bolder
    margin-top: 20vh

  &__option
    display: flex
    flex-wrap: wrap
    justify-content: center

    &-element
      padding: 20px
      border: 2px solid white
      text-decoration: none
      color: white
      border-radius: 20px
      background-color: rgba(0, 0, 0, 0.26)
      margin: 40px 30px

.previous\&estimate
  display: flex
  justify-content: space-between
  align-items: baseline

  .previous

    &__link
      color: #5F619C
      text-decoration: none

  .estimate

    &__value
      text-align: right

.skip
  color: #5F619C
  text-decoration: none
  text-align: right
  margin-top: 80px

