<div *ngFor = "let step of stepList; let i = index" class = "component component-main" [id] = "'step' + i">
  <div class = "step">
    <div class = "previous&estimate">
      <div class = "previous">
        <a scrollTo [href] = "'#step' + (i - 1)" class = "previous__link" *ngIf = "i">Previous Question</a>
      </div>
      <div *ngIf = "!(i == 0)" class = "estimate">
        <p class = "estimate__name">Rough Estimate</p>
        <p class = "estimate__value" ng-pattern="/^(0|\-?[1-9][0-9]*)$/">${{total_price}}</p>
      </div>
    </div>
    <h2 class = "step__name">{{step.name}}</h2>
    <div class = "step__option">
      <a *ngFor = "let option of step.stepOptions" scrollTo [href] = "'#step' + (i + 1)" class = "step__option-element"
         (click) = "option_click(i, step.isStepRoot, option.id, option.optionValues, step.stepOptions)">{{option.name}}</a>
    </div>
    <div class = "skip">
      <a scrollTo [href] = "'#step' + (i + 1)" *ngIf = "i > 1" class = "skip">Skip</a>
    </div>
  </div>
</div>
