.step {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  min-width: 1000px; }
  .step__name {
    color: #6FD7E4;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20vh; }
  .step__option {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .step__option-element {
      padding: 20px;
      border: 2px solid white;
      text-decoration: none;
      color: white;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.26);
      margin: 40px 30px; }

.previous\&estimate {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .previous\&estimate .previous__link {
    color: #5F619C;
    text-decoration: none; }
  .previous\&estimate .estimate__value {
    text-align: right; }

.skip {
  color: #5F619C;
  text-decoration: none;
  text-align: right;
  margin-top: 80px; }

/*# sourceMappingURL=main.component.css.map */
