.component
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  align-content: center
  justify-content: center
  background-repeat: no-repeat
  background-size: cover

  &-header
    background-image: url('../assets/images/phones1.png')

  &-footer
    background-image: url('../assets/images/phones6.png')

  &-main
    background-image: url('../assets/images/phones3.png')


