.component {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .component-header {
    background-image: url("../assets/images/phones1.png"); }
  .component-footer {
    background-image: url("../assets/images/phones6.png"); }
  .component-main {
    background-image: url("../assets/images/phones3.png"); }

/*# sourceMappingURL=app.component.css.map */
